body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    background:linear-gradient(to bottom, rgb(152, 152, 252), rgb(117, 171, 247)) repeat-x;
}

/* body {  
    font-family: 'ProximaNova-Bold', sans-serif;
} */

*{
    padding: 0;
    margin: 0;
}
